<!--
  Generated template for the AssessmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [(ngModel)]="course.code" [(ngModel)]="assessment.name" ngDefaultControl>{{ course.code }}: {{ assessment.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="centeredText" padding>
  
  <h3 [(ngModel)]="assessment.name" ngDefaultControl>{{ assessment.name }}</h3>
  <h5 [(ngModel)]="course.code" [(ngModel)]="course.name" ngDefaultControl>{{ course.code }}: {{ course.name }}</h5>


  <button ion-button class="wideButtons redButton" *ngIf="!assessment.enabled">Not enabled</button>
  <button ion-button class="wideButtons" *ngIf="!assessment.queued && assessment.enabled" (click)="enqueue(assessment)">Enqueue</button>
  <button ion-button class="wideButtons complementButton" *ngIf="assessment.queued && assessment.enabled" (click)="dequeue(assessment)">Dequeue</button>

</ion-content>
