<!--
  Generated template for the InstructorCoursePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title [(ngModel)]="course.code" [(ngModel)]="course.name" ngDefaultControl>{{ course.code }}: {{ course.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let assessment of assessments" (click)="instructorAssessmentSelected(assessment)">
      <button ion-button item-end *ngIf="!assessment.enabled" (click)="enableQueue(assessment)">Enable queue</button>
      <button ion-button item-end class="complementButton" *ngIf="assessment.enabled" (click)="disableQueue(assessment)">Disable queue</button>
      <h2>{{ assessment.name }}</h2>
      <p>Due date: {{ assessment.dueDate }}</p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom (click)="addNewAssessment(course)">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
