<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your courses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-group>
      <ion-item-divider color="light">As student</ion-item-divider>
      <button ion-item *ngFor="let course of coursesAsStudent" (click)="studentCourseSelected(course)">
        {{ course.code }}: {{ course.name }}
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">As instructor</ion-item-divider>
      <button ion-item *ngFor="let course of coursesAsInstructor" (click)="instructorCourseSelected(course, newAssessment)">
        {{ course.code }}: {{ course.name }}
      </button>
    </ion-item-group>

  </ion-list>

</ion-content>
